@import "../../assets/styles/styles";

.Login {
    background-color: $background-color;

    .login-container {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        .side-img {
            background-image: url(../../assets/img/login-back.png);
        }

        .login-form {

            .form {
                .user-input {
                    height: 40px;
                    border-color: rgb(192, 192, 192);
                }

            }
        }
    }
}