.Home {
    width: 100vw;
    height: 100vh;

    .hero-section {
        padding-inline: 100px;
        width: 100%;
        height: calc(100% - 3.5rem);
        align-items: center;
        display: flex;
        position: relative;

        .hero-content {
            display: flex;
            flex-direction: column;
            align-items: start;
            width: 90%;
            margin-inline: auto;
            margin-bottom: 3rem;

            .hero-title {
                font-size: 4rem;
                font-weight: 500;
            }

            .hero-sub-title {
                font-weight: 600;
                font-size: 2.2rem;
                margin-top: -1rem;
                margin-left: 10px;
            }

            .hero-para {
                font-size: 1.3rem;
                text-align: left;
                margin-left: 10px;
                width: 55%;
                margin-top: 15px;
                line-height: 2.5rem;
            }

            .hero-btn {
                margin-top: 50px;
                width: 200px;
                height: 50px;
                margin-left: 10px;
            }
        }

        .hero-img {
            position: absolute;
            height: 100%;
            width: 40%;
            right: 0px;

            .img {
                background-image: url(../../assets/img/pizza.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                height: 100%;
                width: 100%;
                position: relative;

                .dec-1 {
                    width: 50%;
                    aspect-ratio: 1/1;
                    position: absolute;
                    right: 0px;
                    bottom: 10%;
                    background-image: url(../../assets/img/basil-leaves.png);
                    background-size: cover;
                }
            }
        }
    }
}