@import "../../assets/styles/styles";

.HomeNavBar {
    .logo {
        color: black;

        i {
            color: $primary-color;
        }
    }

    .nav {
        .nav-item {
            cursor: pointer;
        }

        .nav-active {
            position: relative;

            &::after {
                content: "";
                display: flex;
                width: 10px;
                height: 10px;
                position: absolute;
                left: 50%;
                border-radius: 5px;
                transform: translate(calc(50% - 10px));
                background-color: $primary-color;
            }
        }
    }

    .dec-1 {
        background-image: url(../../assets/img/basil-leaves.png);
        transform: scale(-1, -1);
    }
}